html, body {
  background: #ddd;
}

body {
  font-family: Helvetica, Arial;
}

body > header {
  padding: 18px 18px 24px;
  background: #222;
  color: #fff;
  /* hoodie hoodie hoodie! */
  background-image: linear-gradient(90deg, #2c2a86 20.5%, #078d2d 20.5%, #078d2d 37.5%, #fcb20d 37.5%, #fcb20d 55.5%, #ec5100 55.5%, #ec5100 72.5%, #6a3c06 72.5%, #6a3c06 79.5%, #c01c1b 79.5%);
  background-size: 300px 6px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}

body > header a {
  color: #fff !important;
}

body > header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

body > header h6 {
  margin: 0;
}

body > p.info {
  padding: 32px 8px 0;
  font-size: 10px;
  color: #888;
}

body > p.info a {
  color: inherit;
  text-decoration: underline;
}

.content {
  padding: 24px 0;
  background: white;
}

.milestones .progress {
  position: relative;
  border-radius: 7px;
  height: 14px;
  background: transparent;
  box-shadow: none;
  border: 1px solid #428bca;
}
.milestones .progress .progress-bar.progress-bar-striped {
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 50%, #ffffff 50%, #ffffff 75%, transparent 75%, transparent);
  box-shadow: none;
}
.milestones .progress.unratable {
  border-color: #d9534f;
}
.milestones .progress.unratable .progress-bar {
  background-color: #d9534f;
}

.milestones .chart {
  padding: 0 8px 24px;
  overflow: auto;
  width: 100%;
}
.milestones .chart .progress-container {
  position: relative;
}
.milestones .chart .progress {
  margin: 2px -4px;
}

.milestones table {
  cursor: default;
}
.milestones table thead tr th {
  border-bottom: 2px solid #444;
}
.milestones table tbody tr {
  counter-increment: milestonesubnumber;
}
.milestones table tbody tr.newMilestone {
  counter-increment: milestonenumber;
  counter-reset: milestonesubnumber;
}
.milestones table tbody tr.newMilestone th, .milestones table tbody tr.newMilestone td {
  border-top: 2px solid #444;
}
.milestones table tbody tr.newMilestone th.milestone {
  width: 320px;
}
.milestones table tbody tr.newMilestone th.milestone:hover small {
  color: #202020;
}
.milestones table tbody tr.newMilestone th.milestone strong, .milestones table tbody tr.newMilestone th.milestone small {
  display: block;
}
.milestones table tbody tr.newMilestone th.milestone strong:before {
  counter-increment: milestonesubnumber;
  content: counter(milestonenumber) ". ";
  display: inline;
}
.milestones table tbody tr.newMilestone th.milestone small {
  font-weight: normal;
  padding: 12px 12px 0 16px;
  color: #ccc;
}
.milestones table tbody tr.newMilestone th.milestone small ul, .milestones table tbody tr.newMilestone th.milestone small ol {
  padding: 0;
}
.milestones table tbody tr.newMilestone th.milestone img {
  position: relative;
  top: -3px;
}
.milestones table tbody tr td.task:hover {
  background-color: #F5F5F5;
}
.milestones table tbody tr td.task:hover small {
  color: #202020;
}
.milestones table tbody tr td.task strong {
  display: block;
  font-weight: normal;
}
.milestones table tbody tr td.task strong:before {
  content: counter(milestonenumber) "." counter(milestonesubnumber) " ";
}
.milestones table tbody tr td.task strong a {
  color: #ccc;
}
.milestones table tbody tr td.task strong a:hover, .milestones table tbody tr td.task strong a:focus {
  color: inherit;
}
.milestones table tbody tr td.task small {
  display: none;
  padding: 12px 12px 0 26px;
  color: #ccc;
}
.milestones table tbody tr td.task small > ul, .milestones table tbody tr td.task small ol {
  padding: 0;
}
.milestones table tbody tr td.task small > ul ul, .milestones table tbody tr td.task small > ul ol, .milestones table tbody tr td.task small ol ul, .milestones table tbody tr td.task small ol ol {
  padding-left: 16px;
}
.milestones table tbody tr td.task.showDescription small {
  display: block;
}
.milestones table tbody tr img {
  border-radius: 100px;
}
.milestones table tbody tr td img {
  position: relative;
  top: -3px;
  margin: -3px 0;
}
.milestones table tbody tr .progress {
  display: inline-block;
  margin: 5px 0 0;
}
.milestones table tbody a {
  color: inherit;
}

@media screen and (max-width: 800px) {
  th.milestone {
    width: 240px !important;
  }
}
@media screen and (max-width: 640px) {
  thead {
    display: none;
  }

  tbody tr, tbody th, tbody td, tbody th.milestone {
    display: block;
    width: 100% !important;
  }
  tbody th.milestone + td {
    border-top: 1px solid #DDD !important;
  }
  tbody th.milestone small {
    display: none !important;
  }
  tbody th.milestone.showDescription small {
    display: block !important;
  }
  tbody small {
    color: #202020 !important;
  }
}
@media screen and (max-width: 480px) {
  td.task .pull-right {
    zoom: .75;
  }
}
@media print {
  body > header,
  body > p.info {
    display: none;
  }
}
