.milestones .chart {
  padding: 0 8px 24px;
  overflow: auto;
  width: 100%;

  .progress-container {
    position: relative;
  }

  .progress {
    margin: 2px -4px;
    // overflow: visible;
    // .progress-bar-danger {
    //   position: relative;
    //   padding: 1px 0;
    //   margin: -1px 0;
    //   left: 1px;
    // }
  }
}
