.milestones table {
  thead tr th {
    border-bottom: 2px solid #444;
  }
  tbody {
    tr {
      counter-increment: milestonesubnumber;

      &.newMilestone {
        counter-increment: milestonenumber;
        counter-reset: milestonesubnumber;

        th, td {
          border-top: 2px solid #444;
        }

        th.milestone:before {
          counter-increment: milestonesubnumber;
          content: counter(milestonenumber) '. ';
          display: inline;
        }
      }

      th.milestone:before {
        display: none;
      }
      td.task:before {
        content: counter(milestonenumber) '.' counter(milestonesubnumber) ' ';
      }

      img {
        border-radius: 100px;
        position: relative;
        top: -3px;
        margin: -3px 0;
      }
      .progress {
        display: inline-block;
        margin: 5px 0 0;
        height: 14px;
        position: relative;
        background: transparent;
        box-shadow: none;
        border: 1px solid #428bca;
        border-radius: 7px;
        min-width: 14px;
      }
    }

    a {
      color: inherit;
    }
  }
}
